<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lightbox</title>
	<link rel="stylesheet" type="text/css" href="css/lightbox.css">
</head>
<body>
	<!-- 遮罩层 -->
	<div id="global-lightbox-mask"></div>
	<!-- 弹出层 -->
	<div id="global-lightbox-popup">
		<div class="lightbox-pic-view">
		<span class="lightbox-btn lightbox-btn-pre"><</span>
			<img class="lightbox-image" src="img/001.jpg">
		<span class="lightbox-btn lightbox-btn-next">></span>
		</div>
		<div class="lightbox-pic-caption">
			<div class="lightbox-pic-caption-area">
				<p class="lightbox-pic-desc">图片标题</p>
				<span class="lightbox-cur-index">当前索引：1 of 4</span>
			</div>
			<span class="lightbox-close-btn"></span>
		</div>
	</div>
</body>
</html>